@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

/* 
###############
  General  Styles
############### 
*/

body {
  background-color: #303030;
  line-height: 1.9;
}

/* Div where main content are */
.main-wrapper {
  padding: 5px;
  text-align: center;
  font-family: "Old Standard TT", serif;
  color: #fff;
  margin-top: 45px;
  margin-bottom: 45px;
  height: fit-content;
  background-color: #303030;
}

.main-wrapper label {
  color: dimgray;
}

.header-text {
  font-family: 'Original Surfer', cursive;
  padding: 50px;
}

/* 
###############
  Navbar
############### 
 */

.navbar-wrapper {
  display: block;
  background-color: #437085;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navbar-wrapper li {
  text-transform: uppercase;
  font-size: 4rem;
  color: #161a1d;
}

.nav-links {
  font-size: 1.4rem;
  font-weight: 700;
  color: #161a1d;
}

.navbar-wrapper li:hover {
  background-color: #61a3c2;
}

/* 
###############
  Account
############### 
*/

/* Registration form */
.register-login-form {
  margin: 15px;
  box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}

.submit-button  {
  border-radius: 30px;
  background-color: #437085;
  color: #161a1d;
  font-weight: 800;
}

.submit-button:hover {
  background-color: #61a3c2;
}  

.submit-button input {
  font-weight: 700;
  color: #161a1d;
}

/* 
###############
  Movies
############### 
*/

.movie-frame {
  border-radius: 30px;
  margin: 25px;
  box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.6);
  width: 80%;
  height: fit-content;
}

.movie-overview {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.movie-image {
  margin: 15px;
}

.movie-frame {
  color: white;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.6);
  width: fit-content;
  height: fit-content;
}

.movie-frame img {
  padding: 15px;
}

/* Registration form */
.movie-search-form {
  box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}

/* 
###############
  Reviews
############### 
*/

.create-button label {
  visibility: hidden;
}

.create-button {
  padding-right: 40px;
}

.review-frame {
  color: white;
  margin-top: 45px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.6);
}

.review-container {
  border-radius: 30px;
  background-color: #404040;
  color: #efefef;
  font-weight: 800;
  width: 42rem;
  padding: 20px;
}

.review-text {
  font-size: 1.2rem;
  width: 36rem;
}

.review-image {
  width: 99%;
}


#review {
  margin-top: 45px;
  margin-bottom: 25px;
  height: 710px;
  border-radius: 15px;
  background-color: #f8f8f8;
}

#edit-review {
  margin-top: 45px;
  margin-bottom: 25px;
  width: 68%;
  height: 340px;
  border-radius: 15px;
  background-color: #f8f8f8;
}

/* 
###############
  Flashed messages
############### 
*/

.message-container {
  border-radius 30px;
  position: fixed;
  bottom: 45px;
  right: 10px;
  z-index: 99999999999;
  opacity: 0.96;
}

.toast {
  border-radius: 30px;
  font-weight: 600;
}

.error {
  background-color: #cc2936;
  color: #161a1d;
}

.success {
  background-color: #52b788;
  color: white;
}

.info {
  background-color: #437085;
  color: #161a1d;
}

/* 
###############
  Home
############### 
*/

.home-text {
  font-size: 18px;
}

/* 
###############
  Create review
############### 
*/

.create-review label {
  display: none;
}

.create-review input {
  color: #161a1d;
  margin: 5px;
  padding-left: 15px;
} 

/* 
###############
  Media Queries
############### 
*/

/* On screens that are 1588px or less */
@media screen and (max-width: 1588px) {
  .main-wrapper {
    width: 95%;
  }
  .movie-frame {
    width: 90%;
  }
  .movie-frame img {
    width: 90%;
  }
    .review-container {
  width: 32rem;
  }
  .review-text {
  width: 30rem;
  }
}

/* On screens that are 1388px or less */
@media screen and (max-width: 1388px) {
    .review-container {
  width: 30rem;
  }
  .review-text {
  width: 26rem;
  }
}

/* On screens that are 1182px or less */
@media screen and (max-width: 1182px) {
    .review-container {
  width: 28rem;
  }
  .review-text {
  width: 24rem;
  }
}



/* On screens that are 486px or less */
@media screen and (max-width: 486px) {
  .nav-links {
    font-size: 1rem;
  }
}

/* On screens that are 392px or less */
@media screen and (max-width: 392px) {
  .nav-links {
    font-size: 0.8rem;
  }
}

/* On screens that are 392px or less */
@media screen and (max-width: 350px) {
  .nav-links {
    font-size: 0.6rem;
  }
}
