{% extends "base.html" %}
{% block content %}
<!-- 404 Not found error page -->
{% block title %} Service Unavailable! {% endblock %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel profile">
            <div class="center-align white-text text-darken-4">
                <h3>This service is temporarily unavailable. <a href="{{ url_for('home') }}">Click here</a> to return to the homepage.</h3>
            </div>       
        </div>
    </div>
</div>
{% endblock %}