<!-- Extent base template -->
{% extends "base.html" %}
<!-- Block content -->
{% block content %}
<div class="row col s12 main-wrapper">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="profile">
        <div class="center-align error-frame">
          <h4>There's been an error!</h4>
          <a href="{{ url_for('movies.search_movies') }}"
            ><h4>click here</h4></a
          >
          <h4>to return to the homepage.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
