{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<!-- Form for searching for movies -->
<div class="row s12 main-wrapper">
    <div class="row s12">
        <h4>Search for a movie to review and save to your profile</h4>
        <div class="container">
            <form id="search" method="POST" action="{{ url_for('movie_search.home') }}">
                <div class="card-panel movie-search-form">
                    {{ form.csrf_token }}
                    {{ render_field(form.search) }}
                </div>
                <input type=submit class="btn-large submit-button" value=search>
            </form>
        </div>
    </div>
    
    <!-- Creates a movie card for every result in movies -->
    {% for res in search.results %}
    <div class="col container s12 m6 l4 xl3">
        <div class="black container movie-frame">
            <div class="review-title">{{ res.title }}</div>
            <img class="review-image" src="https://image.tmdb.org/t/p/w300/{{ res.poster_path }}" alt="Movie Poster">
            <form id="create" value="create" method="POST" action="{{ url_for('movie_search.review', movie_id=res.id) }}">
            <!-- Save movie information so that it can be accessed from python -->
            <input type="hidden" name="movie_id" value="{{res['id']}}">
            <input type="hidden" name="movie_title" value="{{res['title']}}">
            <input type="hidden" name="poster_path" value="{{res['poster_path']}}">
            <input type="hidden" name="movie_overview" value="{{res['overview']}}">
            <input type="submit" class="btn-small" value="create" name="Create">
            </form>
        </div>
    </div>
    {% endfor %} 
</div>
<!-- Display all movies that exists in the database -->
<div class="row main-wrapper">
    <h4>Click on any movie to view reviews or to create your own</h4>
    {% for movie in home_movies %}
    <div class="col container s12 m6 l4 xl3">
      <div class=" black container text-white movie-frame">
        <div class="review-title center-align">{{ movie.movie_title }}</div>
        <a href="{{ url_for('movie_search.review', movie_id=movie.movie_id) }}">
            <img class="review-image" src="https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}" alt="Movie Poster">
        </a>
      </div>
    </div>
    {% endfor %}   
</div>
{% endblock %}