{% from "_formhelpers.html" import render_field %}
<!-- Extend base template -->
{% extends "base.html" %}
<!-- Block content -->
{% block content %}
<!-- Form for searching for movies -->

<div class="row s12 main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l6 xl6 push-xl3 push-l3 push-m2">
        {% if session['user'] %}
        <h5 class="header-text">
          Search for a movie to review and save to your profile
        </h5>
        <!-- Search for new movies -->
        <form
          id="search"
          method="POST"
          action="{{ url_for('movies.search_movies') }}"
        >
          <div class="card-panel movie-search-form">
            {{ form.csrf_token }} {{ render_field(form.search) }}
          </div>
          <input
            type="submit"
            class="waves-effect waves-light btn submit-button"
            value="search"
          />
        </form>
        {% else %}
        <div>
          <h5 class="header-text">
            Please <a href="{{ url_for('auth.register') }}">register</a> or
            <a href="{{ url_for('auth.login') }}">login</a> to view reviews or
            search for movies
          </h5>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if session['results'] is not none %}
  <!-- Creates a movie card for every result in movies -->
  <div class="row main-wrapper">
    {% for res in session['results'] %}
    <!-- If the poster path is not empty -->

    <div class="col container s12 m6 l4 xl3">
      <div class="black container text-white movie-frame">
        <div class="review-title">{{ res.title }}</div>
        <div>
          <form
            id="create"
            method="POST"
            action="{{ url_for('movies.create', movie_id=res.id) }}"
          >
            <!-- Save movie information so that it can be accessed from python -->
            <input type="hidden" name="movie_id" value="{{res['id']}}" />
            <input type="hidden" name="movie_title" value="{{res['title']}}" />
            <input
              type="hidden"
              name="poster_path"
              value="{{res['poster_path']}}"
            />
            <input
              type="hidden"
              name="movie_overview"
              value="{{res['overview']}}"
            />
            {{ form.csrf_token }}
            <!-- If there's a poster image -->
            {% if res.poster_path is not none %}
            <img
              class="review-image search-results"
              src="https://image.tmdb.org/t/p/w300/{{ res.poster_path }}"
              alt="Movie Poster"
            />
            <!-- Else display image not found -->
            {% else %}
            <img
              class="review-image search-results"
              src="{{'static/img/not-found.png'}}"
              alt="No Poster Found"
            />
            <!-- . -->
            {% endif %}
            <div class="row create-button">
              <div>{{ render_field(form.create) }}</div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- . -->
    {% endfor %}
  </div>
  <!-- . -->
  {% endif %}
</div>
<!-- Display all movies that exists in the database -->
<div class="row main-wrapper">
  {% for movie in display_movies %}
  <div class="col container s12 m6 l4 xl3">
    <div class="black container text-white movie-frame">
      <div class="review-title center-align">{{ movie.movie_title }}</div>
      <a href="{{ url_for('movies.review', movie_id=movie.movie_id) }}">
        <img
          class="review-image"
          src="https://image.tmdb.org/t/p/w300/{{ movie.poster_path }}"
          alt="Movie Poster"
        />
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
