{% extends "base.html" %} {% block content %}
<!-- User profile -->
<div class="row main-wrapper">
  <div class="profile">
    <!-- Display username -->
    <h3 class="center-align white-text header-text">
      {{ username }}'s Profile
    </h3>
  </div>
  <br />
  <!-- If the movie reviews variable is not empty -->
  {% if reviews is not none %}
  <!-- Get all items in movie_reviews -->
  {% for item in reviews %}
  <!-- If the current username exists in movie reviews -->
  {% if username == item['username'] %}
  <!-- Display movie the movie title, review text and username -->
  <div class="container">
    <h5>{{ item['movie_title'] }}</h5>
    <div>{{ item['review_text'] }}</div>
    <a
      class="btn-small submit-button"
      href="{{ url_for('movies.edit_review', review_id=item['_id']) }}"
      >Edit</a
    >
    <a
      class="btn-small submit-button"
      href="{{ url_for('movies.delete', review_id=item['_id']) }}"
      >Delete</a
    >
  </div>
  {% endif %} {% endfor %} {% endif %}
</div>
{% endblock %}
