{% from "_formhelpers.html" import render_field %}
<!-- Extend base template -->
{% extends "base.html" %}
<!-- Block content -->
{% block content %}
<!-- Render registration field with python-->
<div class="row main-wrapper">
  <div class="row">
    <!-- Registration form -->
    <form
      class="col s12 m8 offset-m2"
      method="POST"
      action="{{ url_for('auth.register') }}"
    >
      <div class="card-panel register-login-form">
        <dl>
          <!-- Render username field -->
          {{ render_field(form.username) }}
          <!-- Render email field -->
          {{ render_field(form.email) }}
          <!-- Render password field -->
          {{ render_field(form.password) }}
          <!-- Render confirm password field -->
          {{ render_field(form.confirm) }}
        </dl>
      </div>
      <input
        type="submit"
        class="col s12 btn-large submit-button"
        value="Register"
      />
      <a class="btn-small submit-button" href="{{ url_for('auth.login') }}"
        >Already Have An Account?</a
      >
    </form>
  </div>
</div>
{% endblock %}
