{% from "_formhelpers.html" import render_field %}
<!-- Extend Base Template -->
{% extends "base.html" %}
<!-- Block Content -->
{% block content %}
<div class="row main-wrapper">
  <div class="row">
    <h4 class="white-text center-align">Wiew reviews or create your own</h4>
    <div
      class="black text-white col container s12 m12 push-l1 l4 push-xl1 xl4 review-frame"
    >
      <div class="review-title">{{ movie_title }}</div>
      <img
        class="review-image"
        src="https://image.tmdb.org/t/p/w500/{{ poster_path }}"
        alt="Movie Poster"
      />
      <div class="col s12 review-overview">{{ movie_overview }}</div>
    </div>
    <div class="col container s12 m12 push-l1 l6 push-xl1 xl6">
      <form
        method="POST"
        action="{{ url_for('movies.review', movie_id=movie_id) }}"
      >
        {{ form.csrf_token }} {{ render_field(form.review) }}
        <input
          type="submit"
          class="btn-large submit-button"
          name="review"
          value="Submit Review"
        />
      </form>
    </div>
  </div>
</div>
<!-- If the movie reviews variable is not empty -->
{% if reviews is not none %}
<!-- Get all items in movie_reviews -->
{% for item in reviews %}
<!-- If the current movie id exists in movie reviews -->
{% if movie_id == item['movie_id'] %}
<!-- Display movie the movie title, review text and username -->
<div class="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col xl6 l6 m12 s12 push-xl3 push-l2 push-m2">
        {% if not none %}
        <div class="review-container">
          <h5 class="review-title">{{ item['movie_title'] }}</h5>
          <p class="review-text">{{ item['review_text'] }}</p>
          <small class="review-by">posted by: {{ item['username'] }}</small>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if user == item['username'] %}
  <a
    class="btn-small submit-button"
    href="{{ url_for('movies.edit_review', review_id=item['_id']) }}"
    >Edit</a
  >
  <a
    class="btn-small submit-button"
    href="{{ url_for('movies.delete', review_id=item['_id']) }}"
    >Delete</a
  >
  {{ form.csrf_token }}
  <!--.-->
  {% endif %}
</div>
{% endif %}
<!--.-->
{% endfor %}
<!--.-->
{% endif %}
<!--.-->
{% endblock %}
