{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<div class="row col s12 main-wrapper">
    <div class="row">
        <h4 class="white-text center-align">Click on any movie to view reviews or to create your own</h4>
        <div class="black text-white col offset-m1 s4 review-frame">
            <div class="review-title">{{ movie_title }}</div>
            <img class="review-image" src="https://image.tmdb.org/t/p/w500/{{ poster_path }}" alt="Movie Poster">
            <div class="col s12 review-overview">{{ movie_overview }}</div>
        </div>
        <div class="col s6">
            <form id="create" method="POST" action="{{ url_for('movie_search.create_review', movie_id=movie_id) }}">
                {{ form.csrf_token }}
                {{ render_field(form.review) }}
                {% for res in movie %}
                <input type="hidden" name="backdrop_path" value="{{res.backdrop_path}}">
                <input type="hidden" name="movie_id" value="{{res.id}}">
                <input type="hidden" name="movie_title" value="{{res.title}}">
                <input type="hidden" name="poster_path" value="{{res.poster_path}}">
                <input type="hidden" name="movie_overview" value="{{res.overview}}">
                {% endfor %} 
                <input type=submit class="btn-large submit-button" value="Submit Review">
            </form>
        </div> 
    </div>
</div>
{% endblock %}


