{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<!-- Render form to search for movies or shows -->
<div class="row col s12 main-wrapper">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel profile">
                <h3 class="center-align white-text text-darken-4">
                    {{ title }} saved to Database!
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}